<!DOCTYPE html>
<html>
  <head>
    <link  href="{{ url_for('static',filename='css/style.css') }}" rel="stylesheet" />
  </head>
  <body>
    <h1>Schindler's List</h1>

    <div class="grid-container">
      <div class="item1">
        <img src="{{ url_for('static',filename='images/top'+movie.id+'.PNG') }}" alt="top6" />
      </div>
      <div class="item2">trailer</div>
      <div class="item3">
        <p>
          {{movie.info}}
        </p>
      </div>
      <div class="item4">
        <p>Director: {{movie.director}}</p>
      </div>
      <div class="item5">
        <p>Rate: {{movie.star}}/10</p>
      </div>
    </div>
  </body>
</html>
